---
layout: null
sitemap: false
---

$body-background-color: #2B2E31;

$content-max-width: 800px;
$content-color: #fff;
$content-background-color: #212121;

$brand-colour: #444;
$brand-colour-light: mix($brand-colour, $content-background-color, 10%);

$nav-header-background-color: $brand-colour;
$nav-header-height: 60px;
$nav-background-color: #111;
$nav-width: 300px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 15%px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color: #111;
  color: #ccc;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";
